# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

* Randy Lao
* Alex Sandy Pentland
* Kyle McKiou
* Maria Chelliah


|Data Science Tools|
|------------------|
|Python|
|R|
|Apache Spark|

**Objectives:**

* list data science languages
* list data science libraries
* list data science tools
* list arithmetic expression examples (multiply, add and convert)

### Below are a few examples of evaluating arithmetic expressions in Python.

This is a simple arithmetic expression to multiply then add integers.

In [22]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60.

In [23]:
200/60

3.3333333333333335

or

In [24]:
200//60

3

## Author ##
Maria Chelliah